﻿@page
@model Chat.Pages.ChatModel
@{
}
<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/adf011a0eb.js" crossorigin="anonymous"></script>
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
</head>
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Online people :</h4>
                    </div>
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="inbox_chat">
                    @*<div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                            <div class="chat_ib">
                                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                <p>
                                    Test, which is a new approach to have all solutions
                                    astrology under one roof.
                                </p>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <!----------------------------------------------------------------------------------- MESSAGES ---------------------------------------------------------------->
            <div id="msgs" class="mesgs">
                <div id="container" class="msg_history"></div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input id="msg" type="text" class="write_msg" placeholder="Type a message" />
                        <button id="myBtn" onclick="sendMsg()" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>


        <p class="text-center top_spac"> Design by <a target="_blank" href="#">Sunil Rajput</a></p>

    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>

    let date;
    let dateStr;
    let msg;
    let username;

    var connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        .withUrl("https://localhost:44303/Hubs/ChatHub")
        .build();

    connection.on("Get", displayIncomingMsg);
    connection.on("Send", displayOutgoingMsg);

    function displayOutgoingMsg(message, date, user) {

        const container = document.getElementById("container");

        const div1 = document.createElement("div");
        div1.classList.add("outgoing_msg");
        container.appendChild(div1);

        const div2 = document.createElement("div");
        div2.classList.add("sent_msg");
        div1.appendChild(div2);

        const p1 = document.createElement("h6");
        p1.innerHTML = user;
        div2.appendChild(p1);

        const div3 = document.createElement("div");
        div3.classList.add("received_withd_msg");
        div2.appendChild(div3);

        const p2 = document.createElement("p");
        p2.innerHTML = message;
        div3.appendChild(p2);

        const span = document.createElement("span");
        span.classList.add("time_date");

        span.innerHTML = date;
        div3.appendChild(span);
    }

    function displayIncomingMsg(message, date, user) {

        const container = document.getElementById("container");

        const div1 = document.createElement("div");
        div1.classList.add("incoming_msg");
        container.appendChild(div1);

        const div2 = document.createElement("div");
        div2.classList.add("received_msg");
        div1.appendChild(div2);

        const p1 = document.createElement("h6");
        p1.innerHTML = user;
        div2.appendChild(p1);

        const div3 = document.createElement("div");
        div3.classList.add("received_withd_msg");
        div2.appendChild(div3);

        const p2 = document.createElement("p");
        p2.innerHTML = message;
        div3.appendChild(p2);

        const span = document.createElement("span");
        span.classList.add("time_date");

        span.innerHTML = date;
        div3.appendChild(span);
    }

    //on click
    function sendMsg() {

        if (connection.connectionStarted) {

            date = new Date();
            msg = document.getElementById("msg").value;
            if (window.localStorage.getItem('username')) {
                username = window.localStorage.getItem('username');
            }
            else {
                username = "Anonymous";
            }
            dateStr = date.toLocaleString('fr-BE', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
            });
            dateStr += "   |   ";
            dateStr += date.toLocaleString('fr-BE', {
                weekday: 'short',
                month: 'short',
                day: '2-digit',
                year: 'numeric'
            });

            connection.invoke("SendMessage", msg, dateStr, username);
            const txt = document.getElementById("msg");
            txt.value = "";
        }
    }

    //on enter key
    let input = document.getElementById("msg");
    input.addEventListener("keyup", function (event) {
        if (event.keyCode === 13) {
            document.getElementById("myBtn").click();
        }
    });

    connection.start()
        .then(function () {
            console.log("YEAAAAAAAAAAHHHHHH");
        })
        .catch(function (error) { console.log(error); })

    //    <div class="incoming_msg">
    //        <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
    //            <div class="received_msg">
    //                <div class="received_withd_msg">
    //                    <p>
    //                        Test which is a new approach to have all
    //                        solutions
    //                                </p>
    //                    <span class="time_date"> 11:01 AM    |    June 9</span>
    //                </div>
    //            </div>
    //        </div>

    //<template id="out">
    //    <div class="outgoing_msg">
    //        <div class="sent_msg">
    //            <p>
    //                Test which is a new approach to have all
    //                solutions
    //                            </p>
    //            <span class="time_date"> 11:01 AM    |    June 9</span>
    //        </div>
    //    </div>
    //</template>

</script>