﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/adf011a0eb.js" crossorigin="anonymous"></script>
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet">
    <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
</head>

<div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div class="box">
                <div class="shape1"></div>
                <div class="shape2"></div>
                <div class="shape3"></div>
                <div class="shape4"></div>
                <div class="shape5"></div>
                <div class="shape6"></div>
                <div class="shape7"></div>
                <div class="float">
                    <form class="form" action="">
                        <div class="form-group">
                            <label for="username" class="text-white">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control">
                        </div>
                        @*<div class="form-group">
                            <label for="password" class="text-white">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>*@
                        <div class="form-group">
                            <button onclick="setUsername()" class="btn btn-info btn-md"><a id="link" asp-area="" asp-page="/Chat">Login</a></button>
                            @*<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //let body = document.getElementsByTagName("body");
    let input = document.getElementById("username");
    function setUsername() {
        let username = input.value;
        //if (username !== null && username !== undefined && username !== "") {
        //    alert(username);
        //}
        //else {
        //    alert("Veuillez entrer un nom d'utilisateur svp !");
        //}
        window.localStorage.setItem('username', username);
    }
</script>